*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration: none;
}
   
.nav{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
li{
    display: inline-block;
    
    

}
    
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
    